header {
  background: #ebfbff url(/images/bg-hero-mobile.svg) no-repeat center/cover;
}
@media screen and (min-width: 768px) {
  header .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1rem 0;
  margin-bottom: 70px;
}
@media screen and (min-width: 1300px) {
  header .container nav {
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 2.5rem 0 0;
  }
}
header .container nav img {
  width: 125px;
  height: 20px;
}
@media screen and (min-width: 1300px) {
  header .container nav img {
    width: 160px;
    height: 30px;
  }
}
header .container nav a {
  font-size: 14px;
  background: #fff;
  color: #00252e;
  font-weight: bold;
  padding: 0.4em 1.7em;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 10px;
  transition: all 150ms ease-in-out;
}
@media screen and (min-width: 1300px) {
  header .container nav a {
    font-size: 1.1rem;
  }
}
header .container nav a:hover {
  opacity: 0.7;
}

.container-header {
  text-align: center;
  margin: 0 20px;
  margin-bottom: 5rem;
}
@media screen and (min-width: 1300px) {
  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    text-align: start;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
.container-header h1 {
  margin-bottom: 2.5rem;
  color: #00252e;
}
@media screen and (min-width: 1300px) {
  .container-header h1 {
    margin-bottom: 1.5rem;
    max-width: 500px;
  }
}
.container-header p {
  margin-bottom: 2rem;
  line-height: 1.5;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}
.container-header img {
  width: 100%;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .container-header img {
    max-width: 600px;
  }
}

main {
  margin: 0 20px;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}

.card {
  margin: 0 20px;
  background: #fff;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .card:nth-child(odd) .card-info {
    order: -1;
  }
}
.card img {
  width: 100%;
  max-width: 600px;
  padding: 3.5rem;
  align-self: center;
}
.card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0;
}
@media screen and (min-width: 768px) {
  .card .card-info {
    align-items: flex-start;
    text-align: start;
    padding: 3rem;
  }
}
.card h2 {
  color: #00252e;
  margin-bottom: 1rem;
}
.card p {
  color: #808d99;
  line-height: 1.5;
  padding: 0rem 2rem 3rem;
}
@media screen and (min-width: 768px) {
  .card p {
    padding: 0;
  }
}
.card:last-child {
  margin-bottom: 12rem;
}

footer {
  background: #00252e;
  position: relative;
}
footer a {
  color: #fff;
}
footer section {
  position: absolute;
  left: 0;
  right: 0;
  top: -7rem;
  width: 90%;
  max-width: 800px;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: #fff;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}
footer section h2 {
  margin: 3rem 0 2rem;
  font-size: 20px;
  color: #00252e;
}
footer .logo-footer {
  filter: brightness(0) invert(1);
  width: 165px;
  height: 30px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  footer .logo-footer {
    max-width: 1440px;
  }
}
footer .footer-container {
  max-width: 1440px;
  margin: 0 20px;
  padding-top: 10rem;
}
@media screen and (min-width: 1300px) {
  footer .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
footer .footer-container .info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  column-gap: 6rem;
}
footer .footer-container .info-container .contact {
  margin-bottom: 2rem;
}
footer .footer-container .info-container .contact li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  transition: all 150ms ease-in-out;
}
footer .footer-container .info-container .contact li:hover {
  opacity: 0.7;
}
footer .footer-container .info-container .contact li img {
  margin-right: 2rem;
}
footer .footer-container .info-container .footer-info {
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  footer .footer-container .info-container .footer-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: flex-start;
  }
}
footer .footer-container .info-container .footer-info li {
  list-style: none;
  margin-bottom: 1rem;
  transition: all 150ms ease-in-out;
}
footer .footer-container .info-container .footer-info li:hover {
  opacity: 0.7;
}
footer .footer-container .info-container .socials {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  footer .footer-container .info-container .socials {
    max-width: 1440px;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1300px) {
  footer .footer-container .info-container .socials {
    justify-content: center;
  }
}
footer .footer-container .info-container .socials i {
  font-size: 1.3rem;
  border: 1px solid #fff;
  padding: 0.6rem;
  border-radius: 50%;
  margin-right: 1rem;
  transition: all 150ms ease-in-out;
}
footer .footer-container .info-container .socials i:hover {
  transform: scale(1.1);
  color: #ff52bf;
  border-color: #ff52bf;
}
footer .copyright {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin: 2rem 0;
  font-weight: lighter;
}
@media screen and (min-width: 1300px) {
  footer .copyright {
    text-align: end;
    margin-right: 6rem;
  }
}
footer .attribution {
  text-align: center;
  padding-bottom: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.btn {
  display: inline-block;
  background-color: #ff52bf;
  color: #fff;
  border-radius: 100px;
  font-size: 16px;
  padding: 0.7rem 3rem;
  margin-bottom: 3rem;
  transition: all 150ms ease-in-out;
}
.btn:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=main.css.map */
