@use 'variables';
@use 'mixins' as *;

main {
    @include contain;
    @include max-width;
    position: relative;
    margin: 0 auto;

}

.card {
    @include contain;
    background: variables.$white;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        @include media-md {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-right: 3rem;
            margin-left: 3rem;

            &:nth-child(odd) .card-info {
                order: -1;
            }
        }

    img {
        width: 100%;
        max-width: 600px;
        padding: 3.5rem;
        align-self: center;
    }

    .card-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3rem 0;

            @include media-md {
                align-items: flex-start;
                text-align: start;
                padding: 3rem; 
            }
    }

    h2 {
        color: variables.$Very-Dark-Cyan;
        margin-bottom: 1rem;
    }
    
    p {
        color: variables.$Grayish-Blue;
        line-height: 1.5;
        padding: 0rem 2rem 3rem;

            @include media-md {
                padding: 0;
            }
    }

    &:last-child {
    margin-bottom: 12rem;
    }
}



