@use 'variables';

@mixin contain {
       margin: 0 20px;
}

@mixin btn {
       display: inline-block;
       background-color: variables.$Pink;
       color: variables.$white;
       border-radius: 100px;
         
}

@mixin max-width {
       max-width: 1440px;
}

//Responsive
@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
 }

 @mixin media-lg {
     @media screen and (min-width:1300px) {
         @content;
     }
 }

 @mixin contain-resonsive {
       margin-left:5rem;
       margin-right: 5rem;
 }